.sidebar {
  height: 100vh;
  flex: 0.2;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #040404;
}

.sidebar__logo {
  height: 70px;
  object-fit: contain;
  padding:10px;
  margin-right: auto;
}

.sidebar__title{
  text-transform: uppercase;
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}


